<html>
<head>
    <head>
        <title> Chart</title>
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
        <script>
            function display_chart() {
                var json_data = {
                {
                    json_data | tojson
                }
            }
                ;
                var labels = json_data.jsonarray.map(function (e) {
                    return e.name;
                });
                var data = json_data.jsonarray.map(function (e) {
                    return e.age;
                });
                const ctx = document.getElementById('myChart');
                var config = {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Graph Line',
                            data: data,
                            backgroundColor: 'rgba(0, 119, 204, 0.3)'
                        }]
                    }
                };

                var chart = new Chart(ctx, config);
            }
        </script>
    </head>
<body onload="display_chart()">
<canvas id="myChart"></canvas>
</body>
</html>